@use 'base/mixins' as m;
@use 'base/variables' as v;

.properties {
    margin-top: 5rem;

    @include m.tablet { 
        margin-top: 10rem;
    }

    &__heading {
        @include m.heading;
    }

    &__grid {
        @include m.grid(1, 2rem);

        @include m.tablet { 
            @include m.grid(3, 2rem);
        }
    }

}

.property {
    background-color: v.$white;

    &__image {
        aspect-ratio: 10 / 6;
        background-size: auto 150%;
        position: relative;
    }

    @for $i from 1 through 6 {
        $images: "../img/propiedad_" + $i + ".jpg";
        
        &:nth-child(#{$i}) &__image {
            background-image: linear-gradient( to bottom, transparentize( v.$black, 1%) 0%,  transparentize( v.$black, 0.3%) 100%), url($images);
        }
    }

    &__name {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        color: v.$white;
        font-size: 2.4rem;
    }

    &__content {
        padding: 2rem;
    }

    &__text {
        margin-bottom: 0;
    }

    &__price {
        font-size: 3rem;
        margin: 0;
    }

    &__link {
        @include m.boton(v.$primary, v.$white);
        display: block;
    }

}